{% extends 'layout.html' %}
{%  block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Вход</legend>
            <div class="form-group">
                {{ form.email.label(class='form-control-label') }}
                {% if form.email.errors %}
                {{ form.email(class='form-control form-control-lg is-invalid') }}
                <div class='invalid-feedback'>
                    {% for error in form.email.errors %}
                    <span>{{ 'Неверный email, либо такого аккаунта не существует.' }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class='form-control form-control-lg') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class='form-control-label') }}
                {% if form.password.errors %}
                {{ form.password(class='form-control form-control-lg is-invalid') }}
                <div class='invalid-feedback'>
                    {% for error in form.password.errors %}
                    <span>{{ 'Неверный пароль.' }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class='form-control form-control-lg') }}
                {% endif %}
            </div>
            <div class='form-check'>
                {{ form.remember(class='for-check-input') }}
                {{ form.remember.label(class='for-check-label') }}
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class='btn btn-outline-info')}}
        </div>
        <small class='text-muted ml-2'>
            <a href="#">Забыли пароль?</a>
        </small>
    </form>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Нужен аккаунт? <a class='ml-2' href="{{ url_for('register') }}"> Зарегистрироваться прямо сейчас. </a>
    </small>
</div>
{% endblock content %}